<html>
	<head>
		<link rel="stylesheet" type="text/css"  href="/menu.css">
	</head>
	<body>		
		<nav>
			<a href="/">Главная</a>
			<a href="/films">Фильмы</a>
			<a href="/director">Режиссеры</a>
			<a href="/actors">Актеры</a>
		</nav>
	</body>
</html>