<html>

<head>
	<link rel="stylesheet" type="text/css" href="/films.css">
</head>

<body>
	{{> menu}}
	<ul>
		<li>Идентификатор: {{film.id}}</li>
		<li>Название: {{film.title}}</li>
		<li>Год: {{film.year}}</li>
		<li>Идентификатор режиссера: {{film.directorId}}</li>
	</ul>
	{{> footer}}
</body>

</html>
