body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(90deg, #0060fe, #7325c5);
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffff00;
    text-align: center;
}

h2, p, li {
    color: #ffff00;
}

h2 {
    text-align: center;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

li {
    list-style-type: none; 
    background-color: #1a1a1a;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
}